  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500&family=Playfair+Display&display=swap');
* {
  list-style: none;
  margin: 0;
  font-family: "Montserrat";
  padding: 0;
}
html {
  overflow-x: scroll;
}
.navbar {
  margin: 0 auto;
  width: 100%;
  position: relative;
  align-items: center;
}
.submenu_image_1{
  background-color: transparent;

}
.submenu>li>a>div>ul>li{
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}


.submenu_image_1>ul>li{
  font-size: 2rem;
  color: black;
  margin-bottom: 2rem;
  text-align: left;
}

.submenu>li>a>div>ul>ul>li,
.submenu_image_1>ul>ul>li{
  line-height: 2.5rem;
  color: black;

  font-size: 1.2rem;
  text-align: left;
}



.submenu_image_2{
  background-image: url('./assets/assets_maquette/4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.submenu_image_3{
  background-image: url('./assets/assets_maquette/5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}


.submenu_image_4{
  background-image: url('./assets/assets_maquette/6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.menu>li>a:first-child {
  float: left;
  font-size: 2.5rem;
  color: black;
  padding: 1rem;

  text-decoration: none;
  font-family: Bebas Neue;
}
.menu>li>span>a{
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  padding  : 1.3rem;
  text-align: center;
  color: black;
  font-size: 1.4rem;
  margin-right: 2rem;

  text-decoration: none;
  float: right;

}
.menu>li>span>a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  z-index: 300;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(0, 0, 0);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu>li>span>a:hover:after { 
  width: 100%; 
  left: 0; 
}
.menu-scroll{
  z-index: 100;
  transition: all .3s;
  background-color: white;
}
.menu {
  z-index: 300;
  transition: all .3s;

  position: fixed
  ;  text-align: center;
  width: 100%;
  align-items: center;

  list-style: none;
}

.menu > ul:nth-child(2) > li > a > div {
  background-color: red;
}

.submenuCollection > li > a > div {
  margin: 0 auto;
  width: calc(27rem - 5rem);
  height: 34rem;
}
.submenuNews > li > a > div >img{
  display: block;
  max-width: 100%;
}

.show > li > a > div >img{
  display: block;
  max-width: 100%;
}
.show > li > a > div,.submenuCollection>li>a>div , .submenuNews>li>a>div{
  margin: 0 auto;
  width: calc(27rem - 5rem);
  height: 34rem;
}

.show > li {
  width: 100%;
  text-align: center;
}
.show > li > a {
  width: 100%;

  display: block;
  color: #333;
  text-decoration: none;
}
.show {
  align-items: center;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 5rem;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 39rem;
  z-index: 200;
}
.submenuCollection > li > a,
.submenuNews > li > a {
  list-style: none;
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
}
.title_look{
  margin-top: 5rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
/*
cha ger le bas */
.submenuNews,
.submenuCollection{
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  max-width: 100vw;
  height: 39rem;
  z-index: 200;
}

.submenuCollection > li,
.submenuNews > li {
  margin: 0;
  padding: 5px 0;
}

.actif {
  transition: all 0.3s;
  font-weight: 800;
  color: black;
}
.block-pres-change-outfit {
  display: block;
}
.bullet-point {
  cursor: none;
}
.bullet-point {
  padding: 0.2rem;
  cursor: none;

  border-radius: 100%;
  background-color: rgb(153, 153, 153);
}
.button-left-right > li > img {
  width: 2rem;
  transition: all 0.3s;

  margin: 1rem;
}
.button-left-right > li > img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.button-left-right > li {
  display: block;
  cursor: pointer;
}

.button-left-right {
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.container-button-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-flex-outfit > .item > img {
  max-width: 90%;
  height: 90%;

  margin: 0 auto;
  object-fit: cover;
}
.container-flex-outfit-2 > .item:hover .opacity {
  position: absolute;
  border-radius: .25rem;
  top: 0;
  z-index: 12;
  width: 100%;
  height: 100%;
  transition: all .3s;
  background-color: rgba(0, 0, 0, 0.5);
}
.container-flex-outfit-2 > .item > img {
  max-width: 100%;

  margin: 0 auto;
  border-radius: 0.25rem;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}
.opacity a{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.opacity{
    position: absolute;
    border-radius: .25rem;
    top: -100%;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s;
}
.container-flex-outfit-2 > .item:first-child{
  background-image: url('./assets/assets_maquette/OUTFIT_LEO/1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-flex-outfit-2 > .item:nth-child(2){
  background-image: url('./assets/assets_maquette/OUTFIT_LEO/2.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-flex-outfit-2 > .item:nth-child(3){
  background-image: url('./assets/assets_maquette/OUTFIT_LEO/3.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-flex-outfit-2 > .item:nth-child(4){
  background-image: url('./assets/assets_maquette/OUTFIT_LEO/4.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-flex-outfit-2 > .item {
  cursor: pointer;
  transition: all .3s;
  flex-shrink: 0;
  margin: 0 auto;
  position: relative;
  width: 19rem;
  border-radius: 0.25rem;
  height: 35rem;
  scroll-snap-align: start;
}

.container-flex-outfit > .item {
  flex-shrink: 0;
  margin-left: 1rem;
  width: 16rem;
  border-radius: 0.25rem;
  height: 25rem;
  scroll-snap-align: start;
}
.container-flex-outfit::-webkit-scrollbar,
.container-flex-outfit-2::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.block-pres-change-outfit > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.block-pres-change-outfit > ul > li:hover {
  color: black;
  transition: all 0.3s;
}
.block-pres-change-outfit > ul > li {
  font-family: Playfair Display;
  cursor: pointer;
  list-style: none;
  font-size: 2rem;
  margin-left: 1rem;
  color: grey;
  transition: all 0.3s;
}

.block-pres-od {
  width: 100%;
  background-image: url("SMOCKING_ACCCUEIL_1.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.block-pres-od > div > h1:first-child {
  margin-left: 8rem;
  font-size: 4rem;
}

.block-pres-od > div > h1:nth-child(2) {
  margin-left: 3rem;
  font-size: 4rem;
}
.block-pres-od > div > button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-top: 2rem;
  margin-left: 3rem;

  font-family: "Roboto", Courier, monospace;
  font-size: 2rem;
}

.flex-container-change {
  display: flex;
  width: 100%;
  align-items: flex-end;
  flex-direction: row;
}

.img-change {
  display: block;
  width: 70%;
  height: 50rem;
  margin-left: 1rem;
  margin-top: 3rem;
  background-color: rgb(215, 84, 84);
  background-position: center center;
  background-size: cover;
}

.title-outift-change-and-desc-outfit > h2 {
  margin-top: 1rem;
  margin-left: 8rem;
  font-size: 2rem;
  font-weight: 400;
}
.title-outift-change-and-desc-outfit > p {
  line-height: 2.35rem;
  padding: 1rem;
  margin-left: 7rem;

  margin-top: 2rem;
  font-size: 1.1rem;
}

.button-discover {
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
   font-size: 1.9rem;
  border: none;
  transition: all 0.3s;
  position: relative;
  background-color: transparent;
}

.button-discover:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  z-index: 300;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(0, 0, 0);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.button-discover:hover:after { 
  width: 100%; 
  left: 0; 
  transition: all 0.3s;

}
.l {
  justify-content: center;
  transition: all .3s;
  height: 100vh;
  width: 49%;
  background-position: center center;
  background-size: cover;
  background-image: url("vbambiance.jpg");
}
.vbambiance{
  justify-content: center;
  transition: all .3s;

  height: 100vh;
  width: 49%;
  background-position: center center;
  background-size: cover;
  background-image: url("vbambiance.jpg");
}

.chemiseambiance{
  justify-content: center;
  transition: all .3s;

  height: 100vh;
  width: 49%;
  background-position: center center;
  background-size: cover;
  background-image: url("chemiseambiance.jpg");
}
.derbiesambiance{
  justify-content: center;
  transition: all .3s;

  height: 100vh;
  width: 49%;
  background-position: center center;
  background-size: cover;
  background-image: url("derbiesambiance.jpg");
}
.title-outift-change-and-desc-outfit {
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-position: center center;
}
.container-flex-outfit {
  width: 95%;
  margin: 1rem;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  scroll-snap-type: x mandatory;
}
.container-flex-outfit-2 {
  width: 95%;
  margin: 4rem auto 0;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
}

.concon {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

#blockCoco {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(16, 13, 49, 0);
}

.div-container-text {
  position: absolute;
  bottom: -2rem;
  width: 70%;
  display: block;
  margin-top: -2rem;
  padding: 1rem;
  height: auto;
  background-color: #e5e5e5;
  padding: 1.5rem;
}
.text-container {
  display: flex;
  align-items: flex-end;

  justify-content: center;
  margin-left: 0.6rem;
  margin-top: 1rem;
  position: relative;
  float: left;
  background-color: grey;
  width: 49%;
  height: 100vh;
}
.text-container > p {
  padding: 1.25rem;
  color: white;
}
.imgRight {
  margin-top: 1rem;

  justify-content: center;
  display: flex;
  float: right;
  background-image: url("./costardAmbiance1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(95, 54, 95, 0);
  width: 50%;
  height: 100vh;
}
.div-container-text > button {
  display: block;
  margin-top: 1rem;
  border: none;
  padding: 0.5rem;
  background-color: white;
}

.flashing-effect {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  animation: anim 0.3s linear;
}

@keyframes anim {
  from {
    background-color: rgb(255, 255, 255);
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .image-animation {
    animation: enter-animation 0.8s 1;
  }
}

@media screen and (max-width: 720px) {
  .block-pres-od {
    background-image: url("screenVoerge.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .block-pres-change-outfit {
  }
  .block-pres-change-outfit > ul::-webkit-scrollbar {
    display: none;
  }
  .block-pres-change-outfit > ul {
    display: flex;
    width: 100%;

    overflow-x: scroll;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-top: -1rem;
    background-color: rgb(29, 36, 56);
    margin-bottom: 2rem;
  }

  .concon {
    position: relative;
    justify-content: center;
    align-items: center;
    display: block;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .l {
    display: none;
  }
  .title-outift-change-and-desc-outfit {
    width: 100%;
  }
  .text-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    float: left;
    background-image: url("./costardAmbiance1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
  .imgRight {
    display: none;
    width: 100%;
  }
  .button-left-right {
    display: none;
  }
  .block-pres-change-outfit > ul > .outfit {
    text-align: center;
    cursor: pointer;
    list-style: none;
    min-width: 6rem;
    font-size: 1rem;
    margin-left: 1rem;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
  }
  .block-pres-change-outfit > ul > .outfit:first-child {
    min-width: 12rem;
  }
  .block-pres-change-outfit > ul > .actif {
    color: black;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  .bullet-point {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 1px !important;
  }

  .div-container-text {
    background-color: #e5e5e5;
  }
  .block-pres-od > h1 {
    font-size: 1.35rem;
    position: absolute;
    top: 10rem;
    left: 2rem;
  }
  .block-pres-od > h1 > span {
    font-weight: 900;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: rgb(44, 56, 78);
  }
}
